<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674207064827-qu85b2l07j94c2hie7dn5o9dos8j72m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674207064827-qu85b2l07j94c2hie7dn5o9dos8j72m5</string>
	<key>API_KEY</key>
	<string>AIzaSyCTn07QyvyRdpxa3TDEeJBpYhKAbCiS7NM</string>
	<key>GCM_SENDER_ID</key>
	<string>674207064827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zsoltgabor.PopcornSwirl</string>
	<key>PROJECT_ID</key>
	<string>popcornswirl-3b7f0</string>
	<key>STORAGE_BUCKET</key>
	<string>popcornswirl-3b7f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674207064827:ios:f2354d1a2b43f81478865e</string>
	<key>DATABASE_URL</key>
	<string>https://popcornswirl-3b7f0.firebaseio.com</string>
</dict>
</plist>